.section-individual-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-individual-a h1{
    font-weight: 700;
    font-size: 50px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.work-gif{
    width: 480px;
    height: 480px;
}
.certif-section-a{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 5%;
}

.certif-section-a p{
    width: 40%;
    text-align: justify;
    font-weight: 500;
    margin-right: 4%;
    font-size: 23px;
    line-height: 200%;
    font-family: "Poppins", sans-serif;
}
.certif-section-b{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}

.certif-section-b p{
    width: 100%;
    text-align: justify;
    font-weight: 500;
    font-size: 23px;
    line-height: 200%;
    font-family: "Poppins", sans-serif;
}
.section-gestion-b{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.section-gestion-b p{
    text-align: justify;
    font-weight: 500;
    font-size: 23px;
    line-height: 200%;
    font-family: "Poppins", sans-serif;
}

.right-shift {
    margin-left: 50%; 
  }
  .left-shift {
    margin-right: 50%; 
  }
  .mediotxt{
    margin-top: 5%;
  }

  .imgn1{
    margin-left: 16%;
  }


.minbanner {
    width: 100%; /* Define un ancho pequeño */
    height: 420px; /* Define una altura mayor */
    filter: brightness(0.5);
    object-fit: cover; /* Ajusta la imagen sin estirarla */
    object-position: center; /* Centra la imagen */
}

.banner-text {

}
.titulo{
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: 10%;
    line-height: 1; 
}
.txt{
    font-size: 23px;
    position: absolute;
    top: 45%;
    left: 19%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    
}

.banner-container {
    position: relative;
    width: 100%;
    height: 520px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 520px;
}

.cardets-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
    position: relative;
    top: -90px; /* Mueve las cartas hacia arriba para superponerlas */
    z-index: 1; /* Asegura que estén por encima de la imagen */
}

.cardet {
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 50px 10px; /* Ajustar padding para reducir el ancho */
    width: 400px; /* Ajustar el ancho de la tarjeta para alinearla al texto */
    text-align: center;
    position: relative;
    transition: transform 0.2s;
    font-family: "Poppins", sans-serif;
}

.cardet:hover {
    transform: translateY(-5px);
}

.cardet-icon {
    font-size: 50px;
    color: #007bff;
    background-color: #007bff;
    position: absolute;
    top: -30px; /* Hace que el icono sobresalga de la carta */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar el ícono */
}

.cardet-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin: 20px 0 10px;
    font-family: "Poppins", sans-serif;
}

.cardet-text {
    font-size: 16px;
    color: #666;
    line-height: 1.4; /* Line-height ajustado */
    font-family: "Poppins", sans-serif;
}




@media (max-width: 1024px) and (min-width: 768px) {}


@media (max-width: 480px) and (min-width: 320px) {
    .section-individual-a h1{
        font-size: 25px;
    }

    .work-gif{
        width: 240px;
        height: auto;
    }

}