.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    padding: 30px;
    margin-top: -5%;
  }
 
  .question-container {
    padding: 5%;
    border: 1px solid #ddd;
    border-radius: 2rem;
    max-width: 80%;
    background-color: #fff;
    color: #333;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #222;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  h3 {
    font-size:25px;
    margin-bottom: 10px;
    color: #222;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  
  .option {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0072BC;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="radio"]:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0072BC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
  }
  
  input[type="radio"]:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  input[type="radio"]:checked + label {
    color: #0072BC;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
  }
  
  /* Hover effect for the entire div that contains the radio button and label */
  .divinpt {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-size: 19px;
    color: #222;
    font-family: "Poppins", sans-serif;
  }
  
  .divinpt:hover {
    background-color: #E6F4FA; /* Light blue background on hover */
    font-size: 19px;
    font-family: "Poppins", sans-serif;
  }
  
  /* Change the text and border color on hover */
  .divinpt:hover input[type="radio"] {
    border-color: #0072BC;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
  }
  
  .divinpt:hover label {
    color: #0072BC;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
  }
  
  
  
  .progress-bar {
    height: 8px;
    background-color: #0072BC; 
    border-radius: 4px;
    width: 80%;
    margin-bottom: 20px;
    transition: width 0.3s;
  }
  .divinpt{
    margin-bottom: 20px;
    font-size: 19px;
  }
  
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .qzbutton {
    padding: 13px 23px;
    font-size: 19px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    background-color: #0072BC;
    color: white;
    transition: background-color 0.3s;
    border-radius: 2rem;
  }
  
  .qzbutton:disabled {
    background-color: #ffffff;
    cursor: not-allowed;
    color: #0072BC;
    border-radius: 22px;
    padding: 13px 23px;
    font-size: 19px
  }
  .qzbutton:enabled {
  background-color: #0072BC;
  border-radius: 22px;
    color: #ffffff;
    padding: 13px 23px;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
  }
  
  .qzbutton:not(:disabled):hover {
    background-color: #0072BC;
    font-family: "Poppins", sans-serif;
  }
  
  
  


  .organization-select{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    margin-top: 10px;
    background-color: #ffffff;
    color: #0072BC;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .organization-select:hover {
    background-color: #f0f0f0;  /* Cambia el color de fondo cuando el mouse pasa por encima */
    color: #005f8c;  /* Cambia el color del texto cuando el mouse pasa por encima */
    border-color: #0072BC;  /* Cambia el color del borde cuando el mouse pasa por encima */
  }
  .organization-select option:hover {
    background-color: #e0e0e0;  /* Cambia el color de fondo de las opciones al pasar el mouse */
    color: #0072BC;  /* Cambia el color del texto de las opciones */
  }
 

  @media (max-width: 768px) {
    
    .organization-select {
      font-size: 0.9rem; /* Ajustar el tamaño de la fuente en pantallas más pequeñas */
      padding: 8px; /* Reducir el padding en dispositivos pequeños */
    }

  }
  
  /* Small screens (mobile devices, 480px or smaller) */
  @media (max-width: 480px) {
    .divinpt {
      margin-bottom: 7px;
      font-size: 12px;
  }

    /* Change the text and border color on hover */
    .divinpt:hover input[type="radio"] {

      font-size: 12px;
     
    }
    
    .divinpt:hover label {

      font-size: 12px;

    }
    input[type="radio"]:checked + label {
    
      font-size: 12px;
    }

    .qzbutton {
  
      font-size: 12px;
 
    }

    .qzbutton:disabled {

      font-size: 12px
    }
    .qzbutton:enabled {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
    }

    h2 {
      font-size: 19px;
      margin-bottom: 10px;
      color: #222;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
    }
    
    h3 {
      font-size:15px;
      margin-bottom: 10px;
      color: #222;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
    }

    
    .organization-select {
      font-size: 0.85rem; /* Ajustar aún más el tamaño de la fuente */
      padding: 6px; /* Reducir padding en pantallas más pequeñas */
    }
  }


  .instrucciones-container
  {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
   
}
.instrucciones-container p{
    text-align: justify;
    font-weight: 500;
    font-size: 23px;
    line-height: 200%;
    font-family: "Poppins", sans-serif;
}
.instrucciones-container1
{
  display: flex;
  align-items: center;
  gap: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.instrucciones-container1 h3{
  font-size:25px;
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .instrucciones-container,
  .instrucciones-container1 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .instrucciones-container p {
    font-size: 20px; /* Reduce font size on medium screens */
  }

  .instrucciones-container1 h3 {
    font-size: 22px; /* Reduce font size on medium screens */
  }
}

@media (max-width: 768px) {
  .instrucciones-container,
  .instrucciones-container1 {
    flex-direction: column;
    align-items: flex-start; /* Stack the items vertically on small screens */
    margin-left: 2%;
    margin-right: 2%;
  }

  .instrucciones-container p {
    font-size: 18px; /* Further reduce font size */
    text-align: left; /* Align text to the left on smaller screens */
  }

  .instrucciones-container1 h3 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .instrucciones-container,
  .instrucciones-container1 {
    margin-left: 1%;
    margin-right: 1%;
  }

  .instrucciones-container p {
    font-size: 12px; /* Further reduce font size */
    margin-left: 10%;
    margin-right: 10%;
  }

  .instrucciones-container1 h3 {
    font-size: 15px; /* Adjust font size for very small screens */
    margin-left: 10%;
    margin-right: 10%;
  }
}