@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.distinction-green{
    color: #9AD74D;
}

.distinction-blue{
    color: #4285F4;
}

.home-title{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.home-container-a{
    display: flex;
    margin-top: 5%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;

}

.lottie-animation-a{
    width: 600px;
    height: 600px;
}

.home-container-a p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 10%;
    font-family: "Poppins", sans-serif;
}

.home-container-b{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
}

.lottie-animation-b{
    width: 600px;
    height: 400px;
}

.home-container-b p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 20%;
    font-family: "Poppins", sans-serif;
}

.home-distinction{
    color: #9AD74D;
}

.text-home-axio-principal{
    margin-top: 10%;
}

.home-text{
    width: 60%;
    margin-left: 10%;
    margin-top: -20%;
}

.view-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.view-home-container h3{
    text-align: center;
    font-weight: 600;
    color: #4285F4;
    font-size: 30px;
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
}

.mission img, .vision img{
    width: 450px;
    height: 270px;
}

.mission{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-items: center;
}

.txt-container{
    text-align: justify;
    width: 50%;
}

.mission h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.mission p{
    margin-right: 10%;
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.vision{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.txt-container-b{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vision h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.vision p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.values h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Hace que las tarjetas se ajusten si la pantalla es más pequeña */
    padding: 20px;
    margin-bottom: 50px;
  }
  
  .card {
    width: 360px;
    height: 480px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px; /* Para separar ligeramente las tarjetas */
  }
  
  .card:hover {
    transform: scale(1.3); /* Aumenta el tamaño de la tarjeta al pasar el cursor */
  }
  
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 16px;
    color: #555;
  }
  
  

.cards-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 5%;
}

.btn-certif{
    background: none;
    border-width: 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.btn-certif.active {
    background: rgba(0, 114, 188, 0.3);
    color: #0072BC;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
}

.digital-section-a{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.digital-section-a p{
    width: 60%;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

/*new cards valores service and digital*/

.service-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 5%;
    margin-right: 10%;
    list-style: none;
    
}

.card-service-a,
.card-service-b,
.card-service-c {
    width: 270px;
    height: auto; /* Cambiado a auto para permitir contenido variable */
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent; /* Agrega un borde sutil si lo deseas */
    border-radius: 15px; /* Cambiado a 15px para una forma más suave */
    padding: 10px; /* Reducido el padding */
    margin: 10px 0; /* Espaciado entre las tarjetas */
    background-color: transparent; /* Eliminar el fondo */
    box-shadow: none; /* Eliminar la sombra */
    cursor: default; /* Cambiar el cursor a default */
}

/* Diferenciar los colores de las tarjetas */
.card-service-a {
    color: #E37F0A; /* Cambia el color del texto si es necesario */
}

.card-service-b {
    color: #E3CD0A;
}

.card-service-c {
    color: #0AE354;
}

/*new cards valores service and digital final*/

.digital-container-a{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.lottie-digital-a{
    width: 412px;
    height: 412px;
}

.digital-container-a p{
    text-align: justify;
    width: 65%;
}

.digital-container-b{
    display: flex;
    align-items: center;
}

.lottie-digital-b{
    width: 360px;
    height: 360px;
    
}

.digital-container-b p{
    width: 46%;
    text-align: justify;
}

.digital-container-c{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.digital-container-c h2{
    color: #4285F4;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.img-list-contain-a{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.img-cir-phone{
    width: 350px;
    height: 450px;
}

.img-list-contain-a ul{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: disc;
}

.img-list-contain-a li{
    text-align: justify;
    margin-bottom: 15px;
}

.digital-container-d{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.digital-container-d h2{
    color: #4285F4;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.img-list-contain-b{
    display: flex;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.img-list-contain-b ul{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: disc;
    padding: 0;
    margin: 0;
}

.img-list-contain-b li{
    text-align: justify;
    margin-left: 6%;
    margin-bottom: 15px;
}

.img-lap{
    width: 522px;
    height: 400px;
}

.service-section-a{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
}

.service-section-a h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.service-section-a p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.container-services-a{
    margin-top: 20px;
    width: 60%;
}

.container-services-a p{
    margin-right: 40%;
    margin-bottom: 3%;
}

.container-services-b{
    width: 100%;
}

.service-section-b{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.service-section-b h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.service-section-b p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 10%;
    font-family: "Poppins", sans-serif;
}



.service-section-c{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.service-section-c h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.container-service-b{
    display: flex;
    align-items: center;
}

.lottie-service-a{
    width: 400px;
    height: 346px;
}

.container-service-b p{
    width: 70%;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.container-service-c{
    display: flex;
    align-items: center;
}

.lottie-service-b{
    width: 500px;
    height: 329px;
}

.container-service-c p{
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.service-section-d{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.service-section-d h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.card-list-temas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.card-list-temas li{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    width: 48%;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.color-card-a{
    background-color: #FA0224;
}

.color-card-b{
    background-color: #FF6801;
}

.color-card-c{
    background-color: #FF8A00;
}

.color-card-d{
    background-color: #FFC100;
}

.color-card-e{
    background-color: #FFDB00;
}

.color-card-f{
    background-color: #70DE01;
}

.color-card-g{
    background-color: #01AB8E;
}

.color-card-h{
    background-color: #0093D3;
}

.color-card-i{
    background-color: #0053AB;
}

.color-card-j{
    background-color: #743EA0;
}

.color-card-k{
    background-color: #B23A9E;
}

.color-card-l{
    background-color: #F41F99;
}

.contact-section-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5%;
}

.contact-section-a h1{
    font-weight: 700;
    font-size: 50px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.work-gif{
    width: 480px;
    height: 480px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .home-title{
        font-size: 30px;
    }

    .lottie-animation-a{
        width: 400px;
        height: 400px;
    }

    .home-container-a p{
        font-size: 12px;
    }

    .lottie-animation-b{
        width: 300px;
        height: 200px;
    }

    .home-container-b p{
        font-weight: 500;
        font-size: 12px;
    }

    .view-home-container h3{
        font-weight: 600;
        font-size: 25px;
    }
    
}
  
@media (max-width: 480px) and (min-width: 320px) {
    .home-title{
        font-size: 15px;
    }

    .lottie-animation-a{
        width: 200px;
        height: auto;
    }

    .home-container-a p{
        font-size: 6px;
    }

    .lottie-animation-b{
        width: 150px;
        height: auto;
    }

    .home-container-b p{
        font-weight: 500;
        font-size: 6px;
    }

    .view-home-container h3{
        font-weight: 600;
        font-size: 15px;
    }

    .mission img, .vision img{
        width: 115px;
        height: 70px;
    }

    .mission h2{
        font-size: 20px;
    }
    
    .mission p{
        font-size: 8px;
    }

    .vision h2{
        font-size: 20px;
    }
    
    .vision p{
        font-size: 8px;
    }

    .values h2{
        font-size: 20px;
    }

    .btn-certif{
        font-size: 7px;
    }

    .btn-certif.active {
        padding: 5px 15px 5px 15px;
    }

    .digital-section-a p{
        width: 80%;
        font-size: 8px;
    }

    .digital-card-list{
        margin-bottom: 20px;
    }

    .digital-card-list li{
        width: 90px;
        font-size: 8px;
        margin: 5px;
    }

    .card-a, .card-b{
        padding: 6px;
    }

    .lottie-digital-a{
        width: 206px;
        height: auto;
    }

    .lottie-digital-b{
        width: 180px;
        height: auto;
    }

    .digital-container-c h2{
        font-size: 20px;
    }

    .img-cir-phone{
        width: 150px;
        height: auto;
    }
    
    .img-list-contain-a ul{
        font-size: 8px;
    }
    
    .img-list-contain-a li{
        text-align: justify;
        margin-bottom: 10px;
    }
    
    .digital-container-d h2{
        font-size: 20px;
    }

    .img-list-contain-b ul{
        font-size: 8px;
    }
    
    .img-list-contain-b li{
        text-align: justify;
        margin-bottom: 10px;
    }
    
    .img-lap{
        width: 160px;
        height: auto;
    }

    .service-section-a h2{
        font-size: 15px;
    }

    .service-section-a p{
        font-size: 8px;
        margin-top: 10px;
    }
    
    .container-services-b{
        margin-top: 5px;
        width: 90%
    }

    .service-section-b h2{
        font-size: 15px;
    }
    
    .service-section-b p{
        font-size: 8px;
    }

    .card-service-a{
        width: 270px;
        height: 22px;
        font-size: 7px;
        padding: 5px;
    }
    
    .card-service-b{
        width: 270px;
        height: 22px;
        font-size: 7px;
        padding: 5px;
    }
    
    .card-service-c{
        width: 270px;
        height: 22px;
        padding: 5px;
        font-size: 7px;
    }

    .service-section-c h2{
        font-size: 15px;
    }
    
    .container-service-b p{
        width: 70%;
        margin-left: 20px;
        font-size: 8px;
    }

    .lottie-service-a{
        width: 200px;
        height: auto;
    }

    .container-service-c p{
        width: 60%;
        font-size: 8px;
    }

    .lottie-service-b{
        width: 250px;
        height: auto;
    }

    .service-section-d h2{
        font-size: 15px;
    }

    .card-list-temas{
        margin-top: 10px;
    }

    .card-list-temas li{
        font-size: 7px;
        margin-bottom: 10px;
        width: 48%;
        border-radius: 30px;
        padding: 5px 10px;
    }

    .contact-section-a h1{
        font-size: 30px;
    }

    .work-gif{
        width: 240px;
        height: auto;
    }
}

.videohome {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 100%; /* Asegura que el video no sea más grande que su contenedor */
    height: auto; /* Mantiene la proporción del video */
}

.vhcontenedor-video {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que el contenedor cubra el 100% del viewport */
    padding: 20px; /* Espacio alrededor en pantallas pequeñas */
    margin-top: -20%;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .vhcontenedor-video {
        height: auto; /* Permite que el contenedor crezca automáticamente en pantallas pequeñas */
        padding: 10px;
        margin-top: 0%;
    }

    .videohome {
        width: 100%; /* Se asegura de que el video ocupe todo el ancho en pantallas pequeñas */
        height: auto; /* Mantiene la proporción */
    }
}

/* Ajustes para pantallas muy pequeñas, como teléfonos */
@media (max-width: 480px) {
    .vhcontenedor-video {
        padding: 5px;
        margin-top: 0%;
    }

    .videohome {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-width: 100%; /* Asegura que no se desborde */
        height: auto;
    }
}

